.dashboard {
  margin: 6.64vh 6.25vw 8.398vh 7.43vw;
  width: 78.194vw;
  height: 76.074vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard__results {
  display: flex;
  justify-content: space-between;
  height: 59.863vh;
}

.dashboard__graphics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 57.986vw;
}
