.header{
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.75vh 6.04vw 1.17vh 1.94vw;
  height: 8.89vh;
  background-color: var(--dark-color);
}
