.graph__lenght{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: var(--main-color-objectif);
  position: relative;
  /* overflow: hidden; //! */
}

.lenght__title {
  width: 10.21vw;
  height: 4.69vh;
  position: absolute;
  color: var( --light-color-objectif);
  opacity: 0.5039569735527039;
  font-size: 1.46vh;
  line-height: 2.34vh;
  top: 2.83vh;
  left: 2.36vw;
}

.lenght__tooltipWrapper{
  height: 25.683vh;
  width: 17.917vw; 
  background-color: rgba(0,0,0,0.09);
  display: flex;
  align-items: center;
}

.lenght__customTooltip{
  background-color: var(--light-color-objectif);
  font-size: 0.78vh;
  padding: 0 0.47vw;
  height: 2.44vh;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
}

