.graph__performances{
  width: 100%;
  height: 100%;
  background-color: var(--dark-color-radar);
  border-radius: 5px;
}

.performances__kindTicks{
  fill: var(--light-color-radar);
  font-size: 1.17vh;
  transform: translateY(10px);
}
