@import url("reset.css");
/* TODO faire les variables pour les taille de police en vh avec min-max... */
:root {
  --light-color: #FFFFFF;
  --dark-color: #020203;
  --main-color: #FF0101;

  --dark-color-text: #000000;
  --light-color-text: #FFFFFF;
  --main-color-text: #FF0101;

  --dark-color-radar: #282D30;
  --main-color-radar: #FF0101;
  --light-color-radar: #FFFFFF;

  --title-color-kpi: #20253A;
  --data-color-kpi: #282D30;
  --text-color-kpi: #74798C;
  --main-color-kpi: #FF0000;
  --circle-background-kpi: #FFFFFF;
  --background-color-kpi: #FBFBFB;
  
  --mask-color-objectif: #D8D8D8;
  --light-color-objectif:#FFFFFF;
  --dark-color-objectif: #000000;
  --main-color-objectif: #FF0000;

  --light-text-weight: #FFFFFF;
  --main-color-weight: #E60000;
  --title-color-weight:#20253A;
  --weight-legend-text: #74798C;
  --scale-color-weight: #9B9EAC;
  --dark-color-weight: #282D30;
  --overline-color-weight: #C4C4C4;
  --axes-color-weight: #DEDEDE;
  --background-color-weight: #FBFBFB;

  --background-color-card: #FBFBFB;
  --title-color-card: #74798C;
  --dark-color-card: #282D30;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
