@import url("reset.css");

:root {
  --light-color: #FFFFFF;
  --dark-color: #020203;
  --main-color: #FF0101;
  --dark-text: #000000;
  --light-text: #FFFFFF;
  --radar-background: #282D30;
  --radar-data-zone: rgba(255, 1, 1, 0.7);
  --radar-line: #FFFFFF;
  --radar-text: #FFFFFF;
  --kpi-title: #20253A;
  --kpi-data-text: #282D30;
  --kpi-data-line: #FF0000;
  --kpi-data-background: #FFFFFF;
  --kpi-background: #FBFBFB;
  --objectif-data-text: #000000;
  --objextif-data-background: #FFFFFF;
  --objectif-text:#FFFFFF;
  --objectif-data-line:#FFFFFF;
  --objectif-mask-line: #D8D8D8;
  --objectif-mask-background: #000000;
  --objectif-background: #FF0000;
  --weight-tooltips-text: #FFFFFF;
  --weight-tooltips-background: #E60000;
  
}

body{
  font-family: 'Roboto', sans-serif;
}
